Ones inside [brackets] are classes that have not been fulfilled.

60 to 66 Credit hours remain for me to use. (over Junior and Senior Year)

-Chemistry 45 hours 


Chem 240  Analytical Chemistry 3 
Chem 301, 302, 304  Biochemistry I and II and Laboratory 7 
Chem 320, 322  Physical Chemistry I and II 6 
Chem 330, 331  Inorganic Chemistry and Laboratory 4 
Chem 341  Modern Analytical Methods 3
Chem 351  Senior Seminar or  Chem 385  Biochemistry Seminar 1 
Chem 361, 362 Advanced Laboratory I and II 2
Chem 318, 329, 334, 338, 399, or Biol 300 3 
(39 Total Hours)

[Chem 120, 121  General Chemistry I Lecture and Laboratory 4 ]
[Chem 122  General Chemistry II 3 ][In process]
[Chem 125  Quantitative Analysis Laboratory 1]
[Chem 211, 212, 213, 214  Organic Chemistry I][ & II and Laboratories 8 ][In process.]

-Biology 11 hours 


 Biol 222 Principles of Genetics 3 

 [Biol 117, 118  General Biology I and Laboratory 4  Biol 119, 120  General Biology II 4]

-Mathematics 8 hours 


Calculus II

[Math 221, 222  Calculus I] 

-Physics 8 hours 


 Phys 123, 124, 125, 126  Analytical Physics I and II 8 

-Core:


Two social sciences (i.e. [American Politics])
Western Humanities I and II
Fine arts History

[Critical Reasoning]
[Fine arts studio:Drawing I/Figure Drawing I/Figure Drawing II]
[Multicultural:Eastern Philosophy][In process]
[Natural Sciences]
[Intd Course]

-Other:


[Comp Sci 219]
[Piano]
[?Karate?]
