


body,td,th {
	font-family: Arial, Helvetica, sans-serif, Impact;
	font-size: 12px;
	color: #333333;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/sunset-charles-river.jpg);
	background-repeat: repeat-x;
	background-color:LightSteelBlue;
}

.right {
    background-color: lightBlue;
}

a:link {
	color: blue;
}
a:visited {
	color: blue;
}
a:hover {
	color: darkblue;
}
a:active {
	color: darkblue;
}

h1, h2, h3 {
	color:teal;
	font-weight:100;
}
h1.success {
	color:#006633;
}

h1.error {
	color:#FF0000;
}

#header {
	width:100%;
	height:133px; /*Added 8 pixels to cover up the space*/
	background-color:teal;
	text-align:center;
	background-image:url(../images/header-background.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	margin:0;
}

#header h3 {
	color:#FFFFFF;
	font-weight:100;
	font-size:20px;
	padding:80px 0 0 0;
	margin:0;
}

.headernav-wrap {
	width:950px;
	margin-left:auto;
	margin-right:auto;
}

#nav {
	width:100%;
	height:40px;
	background-image:url(../images/nav-background.png);
	background-position:top left;
	background-repeat:repeat-x;
	color:#FFFFFF;
	float:left;
	z-index:2;
	position:relative;
}

#nav ul {
	margin:0;
	padding:0;
}

#nav li {
	margin:1px 0 0 0;
	list-style:none;
	list-style-type:none;
	position:relative;
	display:block;
	padding:7px 25px 5px 25px;
	border-left:1px solid blue;
	border-right:1px solid skyblue;
	float:left;
}

#nav li.first {
	border-left:none;
}

#nav li.last {
	border-right:none;
}

#nav a:link {
	color: #ffffff;
	text-decoration:none;
	padding:7px 15px 5px 15px;
}
#nav a:visited {
	color: #ffffff;
	text-decoration:none;
	padding:7px 15px 5px 15px;
}
#nav a:hover {
	color: #ffffff;
	text-decoration:underline;
	padding:7px 15px 5px 15px;
}
#nav a:active {
	color: #ffffff;
	text-decoration:underline;
	padding:7px 15px 5px 15px;
}

#main {	
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#footer {
float:left;
	width:100%;
	height:45px;
	background-color:lightblue;
	text-align:center;
	background-image:url(../images/footer-background.jpg);
	background-position:top left;
	background-repeat:repeat-x;
	margin:15px 0 0 0;
	color:#FFFFFF;
	border-top:10px solid skyblue;
	border-bottom:10px solid skyblue;
	clear:both;
}

#footer ul {
	margin:15px 0 25px 0;
	padding:0;
}

#footer li {
	display:inline;
	padding:3px 25px 3px 25px;
	margin:0; 
 	border-right:1px solid #ffffff;
	line-height:0;
}

#footer li.first {
	border-left:none;
}

#footer li.last {
	border-right:none;
}

.footer-wrap {
	margin-left:auto;
	margin-right:auto;
}

#footer a:link {
	color: #ffffff;
	text-decoration:none;
	padding:7px 15px 5px 15px;
}
#footer a:visited {
	color: #ffffff;
	text-decoration:none;
	padding:7px 15px 5px 15px;
}
#footer a:hover {
	color: #ffffff;
	text-decoration:underline;
	padding:7px 15px 5px 15px;
}
#footer a:active {
	color: #ffffff;
	text-decoration:underline;
	padding:7px 15px 5px 15px;
}

#main-wrap {
	width:900px;
	float:left;
	clear:both;
}

.box {
	float:left;
	width:200px;
	margin:20px 25px 0 0;
	background-color:#D7EDD6;
	background-image:url(../images/box-background.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	clear:left;
	padding:10px;
}

.box h2{
	margin:-10px 0 0 -10px;
	width:100%;
	background-image:url(../images/box-h2-background.jpg);
	background-repeat:repeat-x;
	color:#FFFFFF;
	font-size:16px;
	font-weight:100;
	padding:5px 10px;
	clear:both;
}

.right {
	float:right;
	width:625px;
	padding:0 15px;
	margin:0 0 0 0;
	text-align:left;
}

.pictures {
	width:auto;
}

.pictures ul {
	margin:0 0 0 25px;
	padding:0;
	list-style:none;
	list-style-image:none;
}

.pictures li {
	display:inline;
	padding:0;
	margin:0;
	line-height:100%;
	list-style:none;
	list-style-image:none;
}

.pictures img {
	border:0;
	margin:0 15px 10px 0;
}

.lightgreen {
	float:left;
	width:auto;
	padding:0 15px 15px 15px;
	background-color:#D7EDD6;
	margin:0;
}

.lightgreen img {
	float:left;
	border:0;
	margin-bottom: 15px;
}

.lightgreen ul {
	float:left;	
}

.greenfooter p {
	clear:both;
	margin-right:15px;
}

.greenfooter {
	text-align:right;
	float:left;
	width:100%;
	margin:0 0 25px 0;
	background-color:#AAD3A8;
}

.greenfooter img {
	border:0;
}

.greentitle {
	float:right;
	width:100%;
	margin:0;
	background-color:#AAD3A8;
}

.greentitle h2, h3 {
	font-weight:100;
	padding:5px;
	margin:5px;
}

.greenfooter2 p {
	clear:both;
	padding-right:15px;
	padding-left:15px;
}

.greenfooter2 {
	text-align:left;
	float:right;
	width:100%;
	margin:0 0 25px 0;
	background-color:#AAD3A8;
}

.greenfooter2 img {
	border:0;
}

ul.contactform {
	list-style:none;
	line-height:18px;
}

#links {
	width:100%;
	background-color:#003300;
	padding:20px 0 30px 0;
	margin:0;
	color:#FFFFFF;
	clear:both;
	text-align:center;
}

#links h2 {
	color:#FFFFFF;
}

#links-wrap {
	width:850px;
	margin:0 auto;
}

#links ul {
	padding:0;
	list-style:none;
}

#links li {
	padding:3px 10px 3px 10px;
	margin:0; 
}

#links a:link {
	color: #ffffff;
	text-decoration:none;
}
#links a:visited {
	color: #ffffff;
	text-decoration:none;
}
#links a:hover {
	color: #ffffff;
	text-decoration:underline;
}
#links a:active {
	color: #ffffff;
	text-decoration:underline;
}
