<style>
body	{background:black;margin: 0px;font-family: Verdana, sans-serif, timesroman;color: white;}
.blogtitle	{font-family: Verdana, sans-serif, timesroman;color: white;font-size:25px;margin:2px;}
.links	{font-family: Verdana, Arial, sans-serif;color: #009900;font-size:11px;}
A.links:hover{color:#990000;}
A	{font-weight:bold;text-decoration:none;}
A:hover	{color:#990000;}
.date	{font-family: Verdana, Arial, sans-serif;color: #ffffff;font-size:11px;font-weight:bold;}
.posts	{font-family: Verdana, Arial, sans-serif;color: #cccccc;font-size:12px;}
.byline	{font-family: Verdana, Arial, sans-serif;color: #000000;font-size:11px;}
</style>