
body {
       font-family: arial, helvetica, sans-serif;
       font-size: 11px;
       color: #ffffff;
       background-color: #333333;
       }

td {
     font-family: arial, helvetica, sans-serif;
     font-size: 11px;
     color: #ffffff;
     line-height: 1.4;
     }

img {
      border: 0;
      }

select { 
         font-family:Verdana,Arial;
         font-size: 9px;
         }

a:link {
         color: #999999;
         font-family: verdana, arial, helvetica, sans-serif;
         font-size: 10px;
         text-decoration: none;
         font-weight: bold;
         }

a:visited {
            color: #999999;
            font-family: verdana, arial, helvetica, sans-serif;
            font-size: 10px;
            text-decoration: none;
            font-weight: bold;
            }

a:active {
           color: #999999;
           font-family: verdana, arial, helvetica, sans-serif;
           font-size: 10px;
           text-decoration: underline;
           font-weight: bold;
           } 

a:hover {
          color: #ffffff;
          font-family: verdana, arial, helvetica, sans-serif;
          font-size: 10px;
          text-decoration: underline;
          font-weight: bold;
          }

body.mainBody {
            background-image: url("images/bg.gif");
            color: #ffffff;
            }

ol.aboutUpper { 
             list-style-type: upper-roman;
             margin-left: 0;
             }

ol.aboutLower { 
                list-style-type: lower-alpha;
                margin-left: 0;
                }

input.shopButton {
              font-family: Verdana,Arial,sans-serif;
              font-size: 9px;
              width: 100px;
              letter-spacing: 1px;
              }

input.formButton { 
              font-family:Verdana,Arial,sans-serif;
              font-size: 9px;
              letter-spacing: 1px;
              }

div.description { 
               text-align: center;
               border: thin solid #ccb094;
               margin-top: 10px;
               margin-bottom: 20px;
               }

table.playerTable {
                    width: 100%;
                    background-color: #ccb094;
                    }
th.playerTable { 
                 text-align: left;
                 background-color: #333333;
                 }

td.playerTable {
                 text-align: left;
                 background-color: #333333;
                 }

.brownHeading { 
                color: #ccb094;
                font-weight: bold;
                }

.brownTitle { 
              color: #ccb094;
              font-weight: bold;
              text-align: center;
              }

