<style type="text/css">
<!--

  body{
		color: black; 
		background-color: white; 
		font-family: verdana, arial, helvetica, geneva, sans-serif;
		font-size: .7em;
	}
	
	select{
  	width:150px;
		font:8pt "Verdana","Arial","Helvetica",sans-serif;
	  background-color:#f1f1f1;
	  letter- spacing:0px;
  } 

	A:link{
  	color: #5a7bad;
  	text-decoration: none;
	}
	
	A:hover{
    color: red; 
    text-decoration: none
    }
  A:visited{
    color: #5a7bad;
    text-decoration:none;
  }
    
	A.hoverMenu {
		display: block;
		padding: 4px;
		border: none;
		font-family: verdana, tahoma, arial, helvetica, sans-serif;
		font-size: .7em;
		color: black;
		text-decoration: none;

		/* Hack (err, workaround ;) for IE box model problems... */
		width: 100%; /* Width for IE */
		voice-family: "\"}\""; /* IE stops process any rules after this */
	  	voice-family:inherit;
		width: auto;	/* Width for "good" browsers */
	}
	A.hoverMenu:link {
		/* A:link style is for IE5; redundant for newer browsers */
		color: black;
		text-decoration: none;
	}
	A.hoverMenu:hover {
		padding: 3px;
		border: solid 1px #333333;
		background-color: #DDDDDD;
		color: black;
		text-decoration: bold;
	}
	
	A.hoverMenu:visited{
    color:black;
    text-decoration:none;
  }

	.para1 
   { 
      margin-top: -48px; 
      margin-left: 140px; 
      margin-right: 10px; 
      font-family: "Verdana"; 
      font-size: 15px; 
      line-height: 35px; 
      text-align: right; 
      color: #5a7bad;
   }

 .para2 
   { 
      margin-top: 0px; 
      margin-left: 15px; 
      margin-right: 50px; 
      font-family: "Verdana"; 
      font-size: 20px; 
      line-height: 40px; 
      text-align: right; 
      color: #d1d1d1; 
   }
  A.para2:link{
    color: #d1d1d1;
    text-decoration: none;
  }
  A.para2:hover{
    color: red;
    text-decoration: none;
  }
	
  pre {
	  margin: 10px 25px;
	  padding: 15px;
	  font-family: "Lucida Console","Courier New",Courier,monospace;
	  font-size: 8pt;
	  line-height: normal;
    color: black;
  	background-color: #FFFFEF;
	  border: 1px solid #CCCCCC;
	  text-align: left; 
    }
   
-->
</style>